/* reset bootstrap */

#bunting-personalisation {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    padding:0 0 20px 0;
    margin:0;
    display:block;
    position:relative;
    background-color:transparent;
}

#bunting-personalisation * {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#bunting-personalisation ul, #bunting-personalisation ol {
    margin-bottom: 0 !important;
}

#bunting-personalisation .panel,
#bunting-personalisation .panel-body {
    padding: 0 !important;
}

#bunting-personalisation legend {
    display: block !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
}

/* normal styles */

#bunting-personalisation h1,
#bunting-personalisation h2,
#bunting-personalisation h3,
#bunting-personalisation h4,
#bunting-personalisation h5,
#bunting-personalisation h6 {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
#bunting-personalisation h3 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    font-size: 22px;
    margin-top: 0;
}
#bunting-personalisation form {
    display: block;
}
#bunting-personalisation .box-container {
    position: relative;
    max-width: 280px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
#bunting-personalisation .box-container.wide {
    max-width: 700px;
}

#bunting-personalisation .box-container .bunting-logo {
    width: 80%;
    margin: 10px 10% 30px 10%;
}

#bunting-personalisation .box-container .bunting-logo img {
    width: 100%;
}

#bunting-personalisation .box-container .title {
    margin: 0;
    padding: 20px 0;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0 0;
}
#bunting-personalisation .box-container .title strong {
    line-height: 40px;
    display: block;
    font-weight: 400;
}
#bunting-personalisation .box-container #plans {
    margin-bottom: 15px;
}
#bunting-personalisation .box-container .btn:hover {
    background-image: none;
}
#bunting-personalisation .login {
    margin-top: 20px;
}

#bunting-personalisation .underlined {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EAEAEA;
}

#bunting-personalisation .underlined h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

#bunting-personalisation .box-container h2 strong {
    font-weight: bold;
    display: block;
}
#bunting-personalisation .login h2,
#bunting-personalisation .register h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
#bunting-personalisation #loginForm,
#bunting-personalisation .logged-in {
    position: relative;
}
#bunting-personalisation #registerForm form {
    background: #eaeaea;
    padding: 10px;
    margin-top: 15px;
}
#bunting-personalisation #registerForm form fieldset {
    background: #fff;
    border: 1px dashed #CCCCCC;
    margin-bottom: 10px;
    padding: 26px 26px 11px 26px;
}
#bunting-personalisation .back {
    position: absolute;
    top: 37px;
    left: 30px;
}
#bunting-personalisation .submit {
    border-top: 1px solid #EAEAEA;
    padding-bottom: 10px;
    padding-top: 10px;
}
#bunting-personalisation .submit-text {
    color: #666666;
    font-size: 12px;
    margin-top: 6px;
}
#bunting-personalisation .submit-button {
    text-align: right;
}
#bunting-personalisation .content {
    padding: 15px;
}
#bunting-personalisation .tick-list {
    padding-left: 0;
}
#bunting-personalisation .tick-list li {
    list-style: none;
    padding-left: 30px;
    background: url('https://getbunting.com/media/icons/tick.gif') 5px 2px no-repeat;
    margin-bottom: 5px;
    font-size: 18px;
}
#bunting-personalisation .form-group {
    text-align: left;
}

#bunting-personalisation label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #666;
}

#bunting-personalisation label.error {
    color: #CC0000;
    display: block;
    margin: -10px 0 10px;
}
#bunting-personalisation .form-group label.error {
    margin: 5px 0px 0px;
}
#bunting-personalisation .form-group .hint {
    color: #999999;
    font-size: 11px;
    margin-top: 3px;
    display: block;
}
#bunting-personalisation .btn {
    background-color: #FFFFFF;
    border: 1px solid #008DFD;
    color: #008DFD;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-right: 5px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

#bunting-personalisation .btn-xl {
    font-size: 22px;
}
#bunting-personalisation .btn.large {
    font-size:20px;
    line-height:24px;
    padding:14px 30px !important;
    font-weight:400;
}

#bunting-personalisation .btn-primary:hover,
#bunting-personalisation .btn-primary:active:hover,
#bunting-personalisation .btn-primary:active,
#bunting-personalisation .btn-primary:focus,
#bunting-personalisation .btn-info:hover,
#bunting-personalisation .btn-info:active:hover,
#bunting-personalisation .btn-info:active,
#bunting-personalisation .btn-info:focus {
    color: #008DFD;
    background: #F1F1F1;
    background-color: #F1F1F1;
    border-color: #008DFD;
    box-shadow: none;
}

/* Logged in */
#bunting-personalisation div.logged-in {
    text-align: center;
    min-width: 250px;
}
#bunting-personalisation .body-inner {
    position: relative;
    z-index: 1;
    padding: 40px 0;
    background-color: #F6F6F6;
    background: radial-gradient(#FFFFFF,#F6F6F6);
}
#bunting-personalisation .body-inner .logo {
    font-size: 0;
    height: 60px;
    background: url('/modules/buntingpersonalisation/views/img/logo.png') 40% 50% no-repeat;
}
#bunting-personalisation .go-to-bunting {
    margin-bottom: 15px;
}
#bunting-personalisation .field-error,
#bunting-personalisation .form-control.error {
    background: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
#bunting-personalisation #loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
    display: none;
}
#bunting-personalisation #loading:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

#bunting-personalisation .spinner {
    display: inline-block;
    width: 70px;
    text-align: center;
}

#bunting-personalisation .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#bunting-personalisation .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background-color: #F0776C;
}

#bunting-personalisation .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: #62C2E4;
}

#bunting-personalisation .spinner .bounce3 {
    background-color: #FECF71;
}

#bunting-personalisation .forgotPasswordForm {
    display: none;
    padding-top: 20px;
}

#bunting-personalisation .forgotPasswordForm.active {
    display: block;
}

#bunting-personalisation #actualLoginForm label:before {
    content: "* ";
    color: #CC0000;
}

#bunting-personalisation #actualLoginForm label:after {
    content: ":";
}

.bunting-warning {
    margin-bottom: 30px;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}